<head>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<!-- typekit font -->
<script src="https://use.typekit.net/jdx8jgw.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<!-- twemoji -->
<script src="//twemoji.maxcdn.com/twemoji.min.js"></script>

<link rel="stylesheet" href="{{ "/css/basic.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
<link rel="icon" type="image/png" href="http://littlefox.es/img/favicon2.png">
{% if page.title == "About" %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endif %}


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:image" content="{% if page.logo %} {{ page.logo }} {% else %} {{ "http://littlefox.es/img/murasaki-og.png" }} {% endif %}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} " />
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} 
  {% if paginator %} - page {{ paginator.page }}{% endif %} </title>
</head>